@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font {
    font-family: "Playwrite HR Lijeva", cursive;
}

:root {
    --body_background: black;
    --body_color: white;
    --list-color: black;
}

[data-theme="light"] {
    --body_background: white;
    --body_color: black;
}

[data-theme="dark"] {
    --body_background: black;
    --body_color: white;
}

body {
    color: var(--body_color);
    background: var(--body_background);
}